/problema01/Problema1/nbproject/private/
/problema01/Problema001/nbproject/private/
/problema01/Problema001/build/
/problema02/Problema2/nbproject/private/
/problema02/Problema2/build/
/problema02/Problema002/nbproject/private/
/problema02/Problema002/build/
/problema03/Problema03/nbproject/private/
/problema03/Problema03/build/
